{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "features": "./features",
          "routes": "./routes",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
